{{template "head.html" args 
    "title" "Download" 
    "canonical" "download" 
}}
<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="Download">
            <h1>Download</h1>
            <p>You can try Jamsync out for yourself using the client binaries below.</p>
            <p>Note that Jamsync is in alpha so make sure to back up your files.</p>
            <ul>
                <li><a class="Download-link" href="/public/jam_darwin_arm64.zip">darwin/arm64</a></li>
                <li><a class="Download-link" href="/public/jam_darwin_amd64.zip">darwin/amd64</a></li>
                <li><a class="Download-link" href="/public/jam_linux_arm64.zip">linux/arm64</a></li>
                <li><a class="Download-link" href="/public/jam_linux_amd64.zip">linux/amd64</a></li>
                <li><a class="Download-link" href="/public/jam_windows_amd64.zip">windows/amd64</a></li>
                <li><a class="Download-link" href="/public/jam_windows_arm64.zip">windows/arm64</a></li>
            </ul>
            <h2>Source</h2>
            <p>The AGPL-licensed source is available below. There's not any documentation yet, so contact zach@jamsync.dev if you want assistance self-hosting. We're currently not taking contributions but feel free to email us for feature requests.</p>
            <p>If you just want to browse the source code on the site, you can go to <a href="/browse">/browse</a>.</p>
            <ul>
                <li><a class="Download-link" href="/public/jamsync-source.zip">jamsync-source.zip</a></li>
            </ul>
        </section>
    </main>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}