{{template "head.html"}}
<body>
    {{template "header.html" args "email" .email}}
    <main>
        <h1 id="projectname"></h1>
        <section class="Files">
            <ol class="Files-table is-hidden" id="files">
            </ol>
        </section>
    </main>
    <script type="module">
        async function setup() {
            let splitPath = window.location.pathname.split("/")
            let projectUrl =  splitPath.slice(0, 3).join('/');
            let projectName = splitPath[2];

            let currentPath = splitPath.slice(4).join('/');

            let projectNameEl = document.getElementById("projectname");
            projectNameEl.innerHTML = "$ " + projectName + "/" + currentPath;

            let filesResp = await fetch(`/api/projects/${projectName}/files/${currentPath}`);
            let filesJson = await filesResp.json();

            let allFilesEl = document.getElementById("files")
            if (!filesJson.directories) {
                filesJson.directories = []
            }
            if (currentPath != "" && filesJson.directories) {
                filesJson.directories.unshift("..")
            }
            if (filesJson.directories) {
                for (let directory of filesJson.directories.sort()) {
                    let listItemEl = document.createElement("li");
                    let directoryLink = document.createElement("a");
                    if (currentPath == "") {
                        directoryLink.href = `${projectUrl}/files/${directory}`;
                    } else if (directory == "..") {
                        let currPaths = currentPath.split('/');
                        currPaths.pop();
                        directoryLink.href = `${projectUrl}/files/${currPaths.join('/')}`;
                    } else {
                        directoryLink.href = `${projectUrl}/files/${currentPath}/${directory}`;
                    }
                    directoryLink.innerHTML = directory + "/"
                    listItemEl.classList.add("Files-directory")
                    listItemEl.appendChild(directoryLink);
                    allFilesEl.appendChild(listItemEl);
                }
            }

            if (filesJson.files) {
                for (let file of filesJson.files.sort()) {
                    let listItemEl = document.createElement("li");
                    let fileLink = document.createElement("a");
                    if (currentPath == "") {
                        fileLink.href = `${projectUrl}/file/${file}`;
                    } else {
                        fileLink.href = `${projectUrl}/file/${currentPath}/${file}`;
                    }
                    fileLink.innerHTML = file; 
                    listItemEl.appendChild(fileLink);
                    allFilesEl.appendChild(listItemEl);
                }
            }

            allFilesEl.classList.remove("is-hidden");
        }

        setup();
    </script>
</body>

</html>