{{template "head.html"}}
<body>
    {{template "header.html" args "email" .Email}}
    <main>
        <section class="Projects">
            <div class="Projects-top">
                <h2>Your Projects</h2>
                <form id="js-create-project" class="Projects-createForm" action="#" method="POST">
                <label class="Projects-create">
                    <span class="Projects-createText">Create(</span><input class="Projects-createInput" type="text" name="projectName" onInput="this.parentNode.dataset.value = this.value" size="3" placeholder="...">
                </label>
                <span class="Projects-createText">)</span>
                </form>
            </div>
            <ul class="Projects-list is-hidden" id="projects">
            </ul>
            <div>
                <p class="Projects-list--empty is-hidden" id="projectsEmpty">Looks like you don't have any projects yet. Follow the instructions <a href="/download">here</a> to get started</p>
            </div>
        </section>
    </main>
    <script>
        let email = `{{.Email}}`.replaceAll('\"', '')

        document.querySelector('#js-create-project').setAttribute('action', `/${email}/projects`)

        async function populateProjectListEl() {
            let projectsResp = await fetch("/api/userprojects");
            let projectsJson = await projectsResp.json();

            if (!projectsJson) {
                let projectsEmptyEl = document.getElementById("projectsEmpty");
                projectsEmptyEl.classList.remove("is-hidden");
            }
            let frag = document.createDocumentFragment();
            for (let project of projectsJson.projects) {
                let temp = document.createElement("li");
                let projectLink = document.createElement("a");
                projectLink.href = `/${email}/${project.name}`;
                projectLink.innerHTML = project.name;
                temp.appendChild(projectLink);
                frag.appendChild(temp);
            }
            let projectsEl = document.getElementById("projects");
            projectsEl.innerHTML = "";
            projectsEl.appendChild(frag);
            projectsEl.classList.remove("is-hidden");
        }

        populateProjectListEl();
    </script>
    {{template "footer.html"}}
</body>
{{template "foot.html"}}